// out: ../stylesheets/style.css, sourcemap: false, compress: true

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');

.transition(@transition){
 -webkit-transition: @transition;
 -moz-transition: @transition;
 -ms-transition: @transition;
 -o-transition: @transition;
 transition: @transition;
}

.boxShadow(@context){
  -webkit-box-shadow: @context;
  -moz-box-shadow: @context;
  box-shadow: @context;
}

.borderRadius(@context){
 border-radius: @context;
 -moz-border-radius: @context;
 -webkit-border-radius: @context;
}

.boxSizing(@context){
  -ms-box-sizing: @context;
  -moz-box-sizing: @context;
  -webkit-box-sizing: @context;
  box-sizing: @context;
}

.button-primary{
 font-size: 24px;
 font-family: @siteFontFamily;
 text-align: center;
 border: 2px solid @colorWhite;
 .borderRadius(3px);
 text-decoration: none;
 padding: 10px;
 cursor: pointer;
 background: none;
 color: @colorWhite;
}


@indexBackground: url("../images/xbgIndex.png");
@scheduleBackground: url("../images/xbgSchedule.png");
@adminBackground: url("../images/xbgAdmin.png");

@siteFontFamily: 'Raleway', sans-serif;
@siteFontError: 'Cherry Cream Soda', cursive;

@colorWhite: #FFFFFF;
@colorBlack: #000000;
@colorBlackSilver:#2b2b2b;
@colorAlto: #DDDDDD;
@colorRed: #b20000;

@lg-max: 1200px;
@md-max: 992px;
@sm-max: 768px;
@xs-max: 480px;

/**
 * Generic Style
 */
html, body{
  margin: 0;
  padding: 0;
}

img{
  border-width: 0;
}

.header{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100px;
  background-color: @colorWhite;
  padding: 0;
  text-align: center;
  .boxShadow(0px 1px 5px 0px rgba(0,0,0,0.75));

  .logo{
    margin: 5px;
    width: 60px;
  }

  span{
    font-family: @siteFontFamily;
    font-size: 25px;
    margin-top: -10px;
    display: block;
  }

  a{
    text-decoration: none;
    color: @colorBlackSilver;
    &:hover{
      color: @colorBlack;
    }
  }

}

.content{
  min-height: 300px;
  padding: 0px 100px;
  padding-top: 100px!important;
  padding-bottom: 100px!important;
  @media(max-width: @md-max){
    padding: 0px 50px;
  }
  @media(max-width: @sm-max){
    padding: 0px 10px;
  }
}

.alert{
  color: @colorRed;
  font-family: @siteFontFamily;
  font-size: 18px;
  margin: 10px 0;
}

.success{
  font-family: @siteFontFamily;
  font-size: 22px;
  color: @colorBlackSilver;
}

/**
 * error page style
 */
.error{
  background-color: @colorWhite;
  font-family: @siteFontError;

  div{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    text-align: center;
    color: @colorBlackSilver;

    h1{
      font-size: 60px;
      margin-bottom: 0;
    }

    h2{
      font-size: 18px;
    }

    a{
      color: @colorBlackSilver;
      border-color: @colorBlackSilver;
    }

  }
}

/**
 * Appointments page style
 */
.appointments{
  background-color: @colorAlto;
  background-image: @adminBackground;
  text-align: left;
  .content{
    padding-top: 0!important;
    h1{
      text-align: center;
      font-family: @siteFontFamily;
      font-size: 60px;
      @media(max-width: @sm-max){
        font-size: 30px;
      }
      color: @colorWhite;
    }

    .back{
      float: left;
    }

    .next{
      float: right;
    }

    .interval{
      text-align: center;
      background-color: lighten(@colorBlackSilver, 60%);
      margin-top: 120px;
      border: 1px solid lighten(@colorBlackSilver, 30%);

      span{
        font-family: @siteFontFamily;
        color: @colorBlack;
        font-size: 18px;
        padding: 10px;
        display: block;

        a{
          text-decoration: none;
          img{
            width: 25px;
            margin-bottom: -8px;
          }
        }
      }
    }

    .semanario{
      position: relative;
      width: 100%;
      background-color: lighten(@colorBlackSilver, 60%);
      overflow: hidden;

      .day{
        width: 20%;
        height: auto;
        float: left;
        position: relative;
        @media(max-width: @sm-max){
          float: none;
          width: 100%;
          border-top: 30px solid @colorBlackSilver;
          &:first-child{
            border-top: 1px solid lighten(@colorBlackSilver, 30%);
          }

        }

        span{
          font-family: @siteFontFamily;
        }

        .date{
          border-style: solid;
          border-color: lighten(@colorBlackSilver, 30%);
          border-width: 1px;
          position: relative;
          padding: 10px;
          span{
            &:first-child{
              display: inline-block;
              padding: 10px;
              font-size: 24px;
            }
            &:last-child{
              float: right;
              font-size: 12px;
              padding: 4px;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }

        .appointment{
          border-style: solid;
          border-color: lighten(@colorBlackSilver, 30%);
          border-width: 1px;
          position: relative;
          padding: 10px;

          span{
            white-space: pre-wrap;
            overflow-wrap: break-word;
          }
          .salesperson{
            font-size: 22px;
            text-align: left;
          }
          .city{
            font-size: 14px;
          }
          .client{
            font-size: 16px;
          }
          .info{
            font-size: 12px;
          }
        }

      }

    }
  }
}

/**
 * Index page style
 */
.index{
  background-color: @colorAlto;
  background-image: @indexBackground;
  text-align: center;

  .content{
    h1{
      font-family: @siteFontFamily;
      font-size: 60px;
      color: @colorBlack;
    }

    p{
      font-family: @siteFontFamily;
      font-size: 22px;
      color: @colorBlackSilver;
      span{
        display: block;
        &:last-child{
          font-size: 18px;
          color: @colorBlack;
        }
      }
    }
  }
}


/**
 * Schedule page style
 */
.schedule{
  background-color: @colorAlto;
  background-image: @scheduleBackground;
  text-align: center;

  .content{
    padding-bottom: 20px!important;

    h1{
      font-family: @siteFontFamily;
      font-size: 60px;
      color: @colorBlack;
      margin: 10px 0;
    }

    form{
      span{
        font-family: @siteFontFamily;
        font-size: 22px;
        color: @colorBlackSilver;
      }

      input[type="date"], input[type="text"], input[type="email"], select{
        font-family: @siteFontFamily;
        padding: 10px;
        margin: 5px;
        border: 1px solid @colorBlack;
        border-radius: 3px;
        min-width: 300px;
        @media(max-width: @xs-max){
          min-width: 90%;
        }
        .boxSizing(content-box);
        &:focus{
            outline: none;
        }
      }
    }

  }
}
